<div class="header">
  <div class="top-left">
    <img class="icon" src="assets/sportif.png" alt="sportif" />
    <div class="top-left-text">
      <h1>Sport'IF</h1>
      <h3>La référence du sport</h3>
    </div>
  </div>
  <div class="search-bar">
    <input type="text" placeholder="Rechercher un sport" />
    <button>Rechercher</button>
  </div>
  <div class="top-right">
    <a href="https://github.com/INSAHexaTeam" target="_blank" class="hexa-team">
      <img src="assets/INSA.png" alt="INSA" />
    </a>
  </div>
</div>
