<app-error></app-error>
<div class="head">
  <div class="content-container">
    <div class="image-container">
      <img
        [src]="this.sportif?.image || 'assets/user.png'"
        alt="image de {{ this.sportif?.name }}"
        (error)="handleImageError($event)"
      />
    </div>
    <div class="info-container">
      <h2>{{ this.sportif?.name }}</h2>
      <p class="description">{{ this.sportif?.description }}</p>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Clé</th>
        <th>Valeur</th>
      </tr>
    </thead>
    <tbody>
      @for(item of entries; track $index){
      <tr>
        <td>{{ $index }}</td>
        <td>{{ item[0] }}</td>
        <td>
          {{ item[1] }}
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
<app-loading-screen [display]="this.isLoading"></app-loading-screen>
