<app-error></app-error>
<div class="head">
  <div class="content-container">
    <div class="image-container">
      <img
        [src]="this.sportif?.image || 'assets/user.png'"
        alt="image de {{ this.sportif?.name }}"
        (error)="handleImageError($event)"
      />
    </div>
    <div class="info-container">
      <h2>{{ this.sportif?.name }}</h2>
      <p class="description">{{ this.sportif?.description }}</p>

      <div class="sports-and-medals">
        <div class="sports-list" *ngIf="sportif?.listSports?.length">
          <h3>Sports pratiqués :</h3>
          <div class="sports-container">
            @for (sport of getSortedSports(); track sport) {
              @if (isValidSport(sport)) {
                <span class="sport-tag clickable" (click)="onSportClick(sport)">{{ sport }}</span>
              } @else {
                <span class="sport-tag disabled">{{ sport }}</span>
              }
            }
          </div>
        </div>

        <!-- Section médailles -->
        <div class="medals-container" *ngIf="hasMedals()">
          <div class="medal-item" *ngIf="sportif?.nbGoldMedals">
            <div class="medal-wrapper">
              <img src="assets/or.png" alt="Médaille d'or" class="medal-icon" />
              <div class="medal-tooltip">
                <h4>Médailles d'or</h4>
                @for(medal of sportif?.goldMedals; track medal) {
                <p>- <b>{{ medal }}</b></p>
                }
              </div>
            </div>
            <span class="medal-count">{{ sportif?.nbGoldMedals }}</span>
          </div>

          <div class="medal-item" *ngIf="sportif?.nbSilverMedals">
            <div class="medal-wrapper">
              <img src="assets/argent.png" alt="Médaille d'argent" class="medal-icon" />
              <div class="medal-tooltip">
                <h4>Médailles d'argent</h4>
                @for(medal of sportif?.silverMedals; track medal) {
                <p>- <b>{{ medal }}</b></p>
                }
              </div>
            </div>
            <span class="medal-count">{{ sportif?.nbSilverMedals }}</span>
          </div>

          <div class="medal-item" *ngIf="sportif?.nbBronzeMedals">
            <div class="medal-wrapper">
              <img src="assets/bronze.png" alt="Médaille de bronze" class="medal-icon" />
              <div class="medal-tooltip">
                <h4>Médailles de bronze</h4>
                @for(medal of sportif?.bronzeMedals; track medal) {
                <p>- <b>{{ medal }}</b></p>
                }
              </div>
            </div>
            <span class="medal-count">{{ sportif?.nbBronzeMedals }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Clé</th>
        <th>Valeur</th>
      </tr>
    </thead>
    <tbody>
      @for(item of entries; track $index){
      <tr>
        <td>{{ $index }}</td>
        <td>{{ item[0] }}</td>
        <td>
          {{ item[1] }}
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
<app-loading-screen [display]="this.isLoading"></app-loading-screen>
